{% extends 'bookmeteranalyzer/base.html' %}

{% block content %}
<h1>読書メーター読了リスト解析</h1>
<p>読書メーターの読んだ本の情報を解析し，登録開始日からの読書量推移をグラフ化します．(※冊数が多い場合は解析に時間がかかります．)</p>
<p></p>
<p>不具合等は<a href="https://twitter.com/natsuyasai7">@natsuyasai7</a>へ連絡下さい．</p>
<hr/>
{% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}
<form id="analyzefome" action="{% url 'bookmeteranalyzer:async_analyze' %}" method="post">
    {% csrf_token %}
    <!-- User ID -->
    <div class="form-group">
        <label for="bookmeteranalyzer" class="col-sm-3 control-label">UserIDを入力</label>
        <div class ="col-sm-6">
            {{ form.user_id }}
            <!--<input type="text" id="user_id">-->
        </div>
        <p><a href="https://bookmeter.com/" target="_blank">読書メーター</a>のマイページを開き，urlのusers/以降の数字を入力してください．</p>
        <p>例)"https://bookmeter.com/users/12345"の「12345」部分</p>
    </div>

    <!-- Analyze Button -->
    <div class="form-group">
        <!--<div class="col-sm-offset-3 col-sm-6">-->
            <button type="submit" class="button button-default">
                <i class="fa fa-plus"></i>解析実行
            </button>
        <!--</div>-->
    </div>
</form>

<!-- script -->
    <script>
        // CSRT対策関連
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
    
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>

<!-- Result -->
    <div id="loading">
        {% load static %}
    </div>
    <div id="imgfile">
    </div>
    <div id="csvfile">
    </div>
    <div id="tweet">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" 
        class="twitter-share-button" data-size="large" data-show-count="false">Tweet</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <!-- ajax -->
    <script>
        $('#analyzefome').submit(function(event) {
            // 通常のイベントを停止
            event.preventDefault();
            // ロード中表示
            $(function(){
                var loag_img = '<img src="{% static "bookmeteranalyzer/img/ajax-loader.gif" %}" alt="Loading"/>'
                $('#loading').append(loag_img);
            });
            $('#imgfile').html('');
            $('#csvfile').html('');
            $.ajax({ // 非同期実行
                url:'{% url "bookmeteranalyzer:async_analyze" %}',
                type:'POST',
                data:{
                    'user_id':$('#id_user_id').val(),
                },
                dataType:'json',
                timeout: '30000',
            })
            .done(function(response){ // 結果を反映する
                if(response.task_id != 'undefined')
                {
                    //console.log(response.task_id);
                    // 結果を取得しにいく
                    gerResultRetry(response);
                    return;
                }
                else{
                    // 完了時処理
                    successAnalyze(response);
                }
            })
            .fail(function(response){
                errorAnalyze();
            });
            return false;
        });
        // 正常終了時処理
        function successAnalyze(response)
        {
            // ロード中表示停止
            $("#loading").html('');
            // 結果表示
            var rsltstr = '<h2>結果</h2>';        
            // 画像設定
            rsltstr += '<img src="' + response.img_file_url + '" alt="result" width="50%" height="50%"><br>';
            $('#imgfile').replaceWith(rsltstr);
            // csvファイル設定
            var csvData = '<button type="button" class="button button-outline" onClick="location.href=\'' 
            + response.csv_file_url
            + '\'">解析結果csvファイルダウンロード</button><br>';
            $('#csvfile').replaceWith(csvData);
            // ツイート用情報生成
            var tweetStr = '<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" \
                        class="twitter-share-button" data-size="large" data-show-count="false"' + 
                        'data-text=月別読書数→"' + response.img_file_url + '"' +
                        '>Tweet</a>';
            tweetStr += '<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"><\/script>'
            $('#tweet').replaceWith(tweetStr);
        }
        // エラー時処理
        function errorAnalyze()
        {
            // ロード中表示停止
            $("#loading").html('');
            $('#imgfilr').replaceWith('<p>エラーが発生しました</p>');
        }
        // 結果取得用同期通信
        function getResult(response)
        {
            var rslt = false;
            $.ajax({
                url:'{% url "bookmeteranalyzer:get_async_analyze_result" %}',
                type:'POST',
                async:false, // get処理はすぐ終わるため同期にする
                data:{
                    'task_id':response.task_id,
                    'user_id':response.user_id
                },
                dataType:'json',
                timeout: '30000',
            }).done(function(response)
            {
                if(response.img_file_url == ''){
                    rslt = false;
                    return false;
                }
                else{
                    // 完了時処理
                    successAnalyze(response);
                    rslt = true;
                    return true;
                }
            });
            return rslt;
        }
        // 結果取得リトライ処理
        function gerResultRetry(response)
        {
            var retrycnt = 0;
            var rslt = getResult(response, retrycnt);
            console.log(rslt)
            // 一定時間待ってから再度取得
            var retryajax = function(){
                var id = setTimeout(retryajax, 5000)
                if(retrycnt > 10){
                    // 指定回数に到達したら終了
                    clearTimeout(id);
                    errorAnalyze();
                    return;
                }
                else if(rslt == true){
                    // 完了すればタイマーを停止し終了
                    clearTimeout(id);
                    return;
                }
                else{
                    // 再取得
                    retrycnt++;
                    rslt = getResult(response);
                    console.log(rslt)
                }
            }
            retryajax();
        }
    </script>
{% endblock %}